<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816465227305-o4ec11s71bffr2p6vj7toh75tt349425.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816465227305-o4ec11s71bffr2p6vj7toh75tt349425</string>
	<key>API_KEY</key>
	<string>AIzaSyCQPyuUJ2wGTed3S6vPgePBkL0hT2m5IW0</string>
	<key>GCM_SENDER_ID</key>
	<string>816465227305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoho.zoho</string>
	<key>PROJECT_ID</key>
	<string>zoho-cfb53</string>
	<key>STORAGE_BUCKET</key>
	<string>zoho-cfb53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816465227305:ios:796feb70b4af4e1e387638</string>
</dict>
</plist>